
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.swal-overlay {
  background-color: salmon;
}

body{
	background-color: #91cfed;
	font-family: 'Roboto';
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:0px;  
  text-align: center;
  position:relative;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

p {
  position:fixed;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top:200px;
}

.wrapper {
  width: 100%;
  
}

svg {
  width:300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#lip_x5F_1 {
	animation-name: lip_1;
	animation-duration: 4s;
	transform-origin: 138.946px 161.634px;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

#lip_x5F_2 {
	animation-name: lip_2;
	animation-duration: 4s;
	transform-origin: 139.007px 160.21px;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

#say {
	animation-name: say;
	animation-duration: 4s;
	transform-origin: 118.712px 148.124px;
	transform: translate(50px);
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes lip_1{
	0% {
		transform: rotate(0deg);
	}

	5%  {
		transform: rotate(30deg);
	}

	20%  {
		transform: rotate(30deg);
	}

	25% {
		transform: rotate(0deg);
	}
}

@keyframes lip_2{
	0% {
		transform: rotate(0deg);
	}

	5%  {
		transform: rotate(-15deg);
	}

	20%  {
		transform: rotate(-15deg);
	}

	25% {
		transform: rotate(0deg);
	}
}

@keyframes say{
	0% {
		transform: scale(0, 0) rotate(-45deg) translate(-20px);
	}

	5%  {
		transform: scale(1, 1) rotate(0deg) translate(-20px);
	}

	20%  {
		transform: scale(1, 1) rotate(0deg) translate(-20px);
			
	}

	25% {
		transform: scale(0, 0) rotate(-45deg) translate(-20px);
				
	}

	100% {
		transform: scale(0, 0) rotate(-45deg) translate(-20px);
				
	}

}


#love {
	animation-name: love;
	animation-duration: 4s;
	transform-origin: 222.052px 99.775px;
	transform: translate(50px);
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

#hat {
	animation-name: hat;
	animation-duration: 4s;
	transform-origin: 208.927px 161.17px;
	transform: translate(50px);
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes love{

	0% {
		transform: scale(0, 0) rotate(45deg) translate(-20px);
				
	}

	20% {
		transform: scale(0, 0) rotate(45deg) translate(-20px);
	}

	25%  {
		transform: scale(1, 1) rotate(0deg) translate(-20px);
	}

	40%  {
		transform: scale(1, 1) rotate(0deg) translate(-20px);
			
	}

	45% {
		transform: scale(0, 0) rotate(45deg) translate(-20px);
				
	}

	100% {
		transform: scale(0, 0) rotate(45deg) translate(-20px);
				
	}

}

@keyframes hat{

	0% {
		transform: rotate(0deg);
				
	}

	20% {
		transform: rotate(0deg);
	}

	25%  {
		transform: rotate(-30deg);
	}

	40%  {
		transform: rotate(-30deg);
			
	}

	45% {
		transform: rotate(0deg);
				
	}

	100% {
		transform: rotate(0deg);
				
	}

}




#ch_1a {
	animation-name: ch_1a;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes ch_1a {

	0% {
		transform: translate(-3px, 3px)
	}

	25% {
		transform: translateY(-2px)
	}

	50% {
		transform: translate(3px, 0px)
	}

	100% {
		transform: translate(-3px, 3px)
	}
}


#ch_2a {
	animation-name: ch_2a;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes ch_2a {

	0% {
		transform: translate(2px, 0px)
	}

	25% {
		transform: translateY(-1px)
	}

	50% {
		transform: translate(-2px, 2px)
	}

	100% {
		transform: translate(2px, 0px)
	}
}










